@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: #131216;
}

::-webkit-scrollbar {
	width: 0.6em;
	background-color: #131216;
}

::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: #1d1b1f;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a78bfa;
}

.air-quality-type__1 {
	background-color: #8ae58f;
}

.air-quality-type__2 {
	background-color: #e6dd8a;
}

.air-quality-type__3 {
	background-color: #e5c28c;
}

.air-quality-type__4 {
	background-color: #a78bfa;
}

.air-quality-type__5 {
	background-color: #e389b5;
}
